@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


.title-admo-tip::before,
.title-admo-note::before,
.title-admo-seealso::before,
.title-admo-abstract::before,
.title-admo-summary::before,
.title-admo-tldr::before,
.title-admo-todo::before,
.title-admo-info::before,
.title-admo-succes::before,
.title-admo-check::before,
.title-admo-done::before,
.title-admo-question::before,
.title-admo-faq::before,
.title-admo-help::before,
.title-admo-warning::before,
.title-admo-caution::before,
.title-admo-attention::before,
.title-admo-failure::before,
.title-admo-fail::before,
.title-admo-missing::before,
.title-admo-danger::before,
.title-admo-error::before,
.title-admo-bug::before,
.title-admo-example::before,
.title-admo-quote::before,
.title-admo-cite::before {
    font-family: 'Material Icons' !important;
    vertical-align: bottom;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 24px;
}


.title-admo-tip,
.title-admo-note,
.title-admo-seealso,
.title-admo-abstract,
.title-admo-summary,
.title-admo-tldr,
.title-admo-todo,
.title-admo-info,
.title-admo-succes,
.title-admo-check,
.title-admo-done,
.title-admo-question,
.title-admo-faq,
.title-admo-help,
.title-admo-warning,
.title-admo-caution,
.title-admo-attention,
.title-admo-failure,
.title-admo-fail,
.title-admo-missing,
.title-admo-danger,
.title-admo-error,
.title-admo-bug,
.title-admo-example,
.title-admo-quote,
.title-admo-cite {
    width: calc(100% + 10px);
    display: inline-block;
    font-size: 20px;
    margin-right: -10px;
    margin-bottom:10px;
    padding: 0 !important;
    border-radius: 3px !important;
    margin-left: -10px;
}

.admo-tip,
.admo-note,
.admo-seealso,
.admo-abstract,
.admo-summary,
.admo-tldr,
.admo-todo,
.admo-info,
.admo-succes,
.admo-check,
.admo-done,
.admo-question,
.admo-faq,
.admo-help,
.admo-warning,
.admo-caution,
.admo-attention,
.admo-failure,
.admo-fail,
.admo-missing,
.admo-danger,
.admo-error,
.admo-bug,
.admo-example,
.admo-quote,
.admo-cite {
    border-radius: 3px;
    width: 90%;
    background-color: #f7f7f7;
    padding-left: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 0px 0px rgba(211, 211, 211, 0.548);

}

.title-admo-note::before {
    content: '\e3c9';
    color: #448aff;
}

.title-admo-note {
    color: #448aff;
    background-color: rgba(68, 138, 255, .1);

}

.admo-note {
    border-left: 3px solid #448aff;


}
