@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


/* config general */
.language-ad-tip,
.language-ad-note,
.language-ad-seealso,
.language-ad-abstract,
.language-ad-summary,
.language-ad-tldr,
.language-ad-todo,
.language-ad-info,
.language-ad-succes,
.language-ad-check,
.language-ad-done,
.language-ad-question,
.language-ad-faq,
.language-ad-help,
.language-ad-warning,
.language-ad-caution,
.language-ad-attention,
.language-ad-failure,
.language-ad-fail,
.language-ad-missing,
.language-ad-danger,
.language-ad-error,
.language-ad-bug,
.language-ad-example,
.language-ad-quote,
.language-ad-cite
{
    padding: 0;
    border-radius: 3px;
    box-shadow: 5px 5px 0px 0px rgba(211, 211, 211, 0.548);
    padding-left: 10px;
    white-space: break-spaces;
    padding-bottom: 10px;
    font-family: Inter, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;








    /* Let's set the font-size to something old-man friendly */
    line-height: 210%;
    overflow: hidden !important;
}

.tip,
.note,
.abstract,
.done,
.todo,
.question,
.warning,
.failure,
.danger,
.bug,
.example,
.quote
{
    width: 102%;
    display: inline-block;
    margin-left: -10px;
    font-size: 20px;
    margin-bottom:10px;
    padding: 0 !important;
    border-radius: 0 !important;
}

.tip::before,
.note::before,
.abstract::before,
.done::before,
.todo::before,
.question::before,
.warning::before,
.failure::before,
.danger::before,
.bug::before,
.example::before,
.quote::before
{
    font-family: 'Material Icons' !important;
    vertical-align: bottom;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 24px;
}

/* tip */
.language-ad-tip,
.language-ad-hint,
.language-ad-important{
    border-left: 3px solid #00bfa5;
}

.tip {
    color: #00bfa5;
    background-color: rgba(0, 191, 165, .1);


}
.tip::before {
    content: '\ef55';
    color: #00bfa5;
}


/* NOTE */
.language-ad-seealso,
.language-ad-note{
    border-left: 3px solid #448aff;
}

.note::before {
    content: '\e3c9';
    color: #448aff;
}

.note {
    color: #448aff;
    background-color: rgba(68, 138, 255, .1);

}

/* abstract */

.language-ad-abstract,
.language-ad-summary,
.language-ad-tldr{
    border-left: 3px solid #00b0ff;
}

.abstract::before {
    content: '\e8d2';
    color: #00b0ff;
}
.abstract {
   color: #00b0ff;
    background-color: rgba(0, 176, 255, .1);
}

/* todo  */

.language-ad-todo,
.language-ad-info {
     border-left: 3px solid #00b8d4;
}

.todo::before {
    content: '\e88e';
    color: #00b8d4;
}

.todo {
    color: #00b8d4;
    background-color: rgba(0, 184, 212, .1);
}

/* Succes */

.language-ad-succes,
.language-ad-check,
.language-ad-done {
    border-left: 3px solid #00c853;

}
.done::before {
    content: '\e86c';
    color: #00c853;
}
.done {
    color: #00c853;
    background-color: rgba(0, 200, 83, .1);
}

/* Question */

.language-ad-question,
.language-ad-faq,
.language-ad-help {
     border-left: 3px solid #64dd17;
}

.question {
    color: #64dd17;
    background-color: rgba(100, 221, 23, .1);
}

.question::before {
    content: '\e887';
    color: #64dd17;
}

/* Warning */

.language-ad-warning,
.language-ad-caution,
.language-ad-attention {
    border-left: 3px solid #ff9100;
}

.warning {
    color: #ff9100;
    background-color: rgba(255, 145, 0, .1);
}

.warning::before {
    content: '\e8b2';
    color: #ff9100;
}

/* failure */

.language-ad-failure,
.language-ad-fail,
.language-ad-missing {
    border-left: 3px solid #ff5252;
}

.failure {
    color: #ff5252;
    background-color: rgba(255, 82, 82, .1);
}

.failure::before {
    content: '\e5c9';
    color: #ff5252;
}

/* Danger */

.language-ad-danger,
.language-ad-error {
     border-left: 3px solid #ff1744;
}

.danger {
    color: #ff1744;
    background-color: rgba(255, 23, 68, .1);
}

.danger::before {
    content: '\ea0b';
    color: #ff1744;
}

/* Bug */

.language-ad-bug {
    border-left: 3px solid #f50057;
}

.bug{
     color: #f50057;
    background-color: rgba(245, 0, 87, .1);
}

.bug::before {
    content: '\e868';
    color: #f50057;
}

.language-ad-example {
     border-left: 3px solid #088e11;
}

.example{
    color: #088e11;
    background-color: rgba(26, 176, 85, 0.34);
}

.example::before {
    content: '\e746';
    color: #088e11;
}

/* Quote */

.language-ad-quote,
.language-ad-cite {
    border-left: 3px solid #9e9e9e;
}

.quote {
    color: #9e9e9e;
    background-color: hsla(0, 0%, 62%, .1);
}

.quote::before {
     content: '\e244';
    color: #9e9e9e;
}
