@import url('https://fonts.googleapis.com/icon?family=Material+Icons&display=swap');

/* Note */
.ad-title-note::before
{
    content: '\e3c9';
    color: #448aff;
    font-family: 'Material Icons';
    vertical-align: bottom;
    padding-right: 5px;
    padding-left: 5px;
}

.note {
    padding: 0 !important;
    border-radius: 0 !important;
}

blockquote.note >  p:not(strong){
    border-left: 3px solid #448aff;
    padding: 0;
    border-radius: 3px;
    box-shadow: 5px 5px 0px 0px rgba(219, 219, 219, 0.1);
    padding-left: 10px;

}
.ad-title-note {
    color: #448aff;
    background-color: rgba(68,138,255,.1);
    width: 101%;
    display: inline-block;
    margin-left: -10px;
}

/* Abstracts */

.ad-title-abstract::before
{
    content: '\e8d2';
    color: #00b0ff;
    font-family: 'Material Icons';
    vertical-align: bottom;
    padding-right: 5px;
    padding-left: 5px;
}

.abstract {
    padding: 0 !important;
    border-radius: 0 !important;
}

blockquote.abstract >  p:not(strong){
    border-left: 3px solid #00b0ff;
    padding: 0;
    border-radius: 3px;
    box-shadow: 5px 5px 0px 0px rgba(0,176,255,.1);
    padding-left: 10px;

}
.ad-title-abstract {
    color: #00b0ff;
    background-color: rgba(0,176,255,.1);
    width: 101%;
    display: inline-block;
    margin-left: -10px;
}

/* todo */
.ad-title-todo::before
{
    content: '\e88e';
    color: #00b8d4;
    font-family: 'Material Icons';
    vertical-align: bottom;
    padding-right: 5px;
    padding-left: 5px;
}
.abstract {
    padding: 0 !important;
    border-radius: 0 !important;
}
blockquote.todo >  p:not(strong){
    border-left: 3px solid #00b8d4;
    padding: 0;
    border-radius: 3px;
    box-shadow: 5px 5px 0px 0px rgba(0,184,212,.1);
    padding-left: 10px;

}
.ad-title-todo {
    color: #00b8d4;
    background-color: rgba(0,184,212,.1);
    width: 101%;
    display: inline-block;
    margin-left: -10px;
}

/* Tip */

.ad-title-todo::before
{
    content: '\ef55';
    color: #00bfa5;
    font-family: 'Material Icons';
    vertical-align: bottom;
    padding-right: 5px;
    padding-left: 5px;
}
.abstract {
    padding: 0 !important;
    border-radius: 0 !important;
}
blockquote.todo >  p:not(strong){
    border-left: 3px solid #00bfa5;
    padding: 0;
    border-radius: 3px;
    box-shadow: 5px 5px 0px 0px rgba(0,191,165,.1);
    padding-left: 10px;

}
.ad-title-todo {
    color: #00bfa5;
    background-color: rgba(0,191,165,.1);
    width: 101%;
    display: inline-block;
    margin-left: -10px;
}
