---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

.language-ad-note{
  background-color: yellow;
  color: black;
  white-space: break-spaces;
  overflow-y: unset;
}
.third_party_card{
  width:300px;
  background-color: #4e4e4e;
  text-align: center;
}