.embed-title {
    font-size: 29px;
    color: #555555;
    font-family: Inter, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    padding-left: 2em;
    background-color: rgba(144, 148, 153, 0.32);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.embed-content {
    padding-left: 2em;
    background-color: rgba(164, 165, 167, 0.19);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid transparent;
}