---
layout: page
# The Home page layout
---

{% include lang.html %}

<div style="text-align: center;margin-top:200px">
    Welcome to my personal website. 
    <p />
    I use this to host a selection of my notes. (<a href="posts/using-a-knowledge-storage-system-to-improve-my-productivity/">See how this works</a>)
    <p />
    If you're looking to find more out about me in a professional sense, see <a href="about">the About Page</a>.
    <p />
    For everything else, I've tried to centralize my web presence in <a href="external">The External Links</a> and <a href="contact">Contact</a> sections
    
</div>


