---
---

<!DOCTYPE html>
<html lang="fr">
<head>
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/fantasque-sans-mono" type="text/css"/> 
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{site.title}}</title>

    <link rel="canonical" href="{{site.url}}{{page.url}}"/>
    <link rel="apple-touch-icon" href="{{site.profile_pic}}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
	
    <link rel="icon" href="{{site.favicon}}" type="image/png"/>
    <link href="/assets/css/style.css" rel="stylesheet" media="all" class="default"/>
	<link rel="stylesheet" href="/assets/css/highlight.css">
	<link rel="stylesheet" href="/assets/css/image_flags.css">

    <!--[if IE]>
        <link href="/assets/css/ie-target.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--<link href="/assets/css/prism.css" rel="stylesheet" />-->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
    {% seo %}
</head>

<body>



    <div class="container">                    
        <div class = "box">
            {%- include header.html -%}
            {%- include feed.html -%}

            {%- if page.content-type == "notes" 
                or page.content-type == "post" 
                or page.content-type == "eg" -%}
            <main>
                <h1>{{page.title}}</h1>
                {%- include content.html -%}
                <hr>
                {%- include backlinks.html -%}
                {%- include related.html -%}
            </main>
            {%- endif -%}
            {%- include comments.html -%}
            {%- include footer.html -%}
        </div>
        <button class="scroll-to-top" id="scroll-to-top"><i class="fa fa-chevron-up"></i></button>
    </div>

    <script>
        document.getElementById("scroll-to-top").addEventListener("click", function() {
            window.scrollTo({top: 0, left: 0, behavior: 'smooth'});
        });
    </script>
	<script type="text/javascript" src="../assets/js/summary.js"></script>

    {%- include contextmenu.html -%}
	{%- include text-expand.html -%}
</body>



</html>

{%- if page.content-type == "notes"
or page.content-type == "post" -%}
{%- if page.title != "Tags" -%}
<script>for(let h of document.querySelectorAll('h1[id],h2[id],h3[id],h4[id]'))h.innerHTML+=` <a href="#${h.id}" aria-hidden="true">#</a>`</script>
{%- endif -%}
{%- endif -%}
